body {
  margin: 0;
  padding: 0;
  font-family: "Lato",;
  background-color: black;
  color: beige;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#root {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease-in-out;
}

button {
  cursor: pointer;
  height: 60px;
  width: 260px;
  background-color: white;
  color: black;
  border-radius: 10px;
  font-size: 2rem;
  font-family: "Lato";
  font-weight: 600;
  padding-bottom: 5px;
  border: 1px solid black;
    transition: 0.3s ease-in-out;
}

button:hover {
  background-color: black;
  color: white;
  border: 1px solid gray;
}

#rules {
  font-weight: 700;
  margin-left: 15rem;
  color: white;
  font-family: "Lato";
  font-size: 1.3rem;
  line-height: 2rem;
}

#title {
  font-weight: 400;
  color: gray;
  font-size: 1.6rem;
  display: inline-block;
  margin-bottom: 20px;
}

h1 {
  text-align: center;
  margin-top: 10px;
}

p {
  color: white;

}

#game-board {
  border-radius: 12px;
  border: 2px solid gray;
  padding: 5px;
  margin: 20px 20px 20px 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 5px;
  height: fit-content;
}

.card {
  cursor: not-allowed;
  width: 120px;
  border: solid 1px black;
  border-radius: 12px;
  height: 180px;
}

.hidden {
  cursor: pointer;
  background-color: white !important;
}

.yellow {
  background-color: yellow;
}

.blue {
  background-color: blue;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.purple {
  background-color: purple;
}

.cyan {
  background-color: cyan;
}